<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 会话工厂 -->
	<session-factory>
		<!--方言-->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!--打印sql-->
		<property name="hibernate.show_sql">true</property>
		<!--打印sql的时候格式化-->
		<property name="hibernate.format_sql">true</property>
		<!--
        自动生成表结构
        create：           自动建表，每次框架运行都会创建新的表，原来的表会被覆盖，数据丢失（测试时使用）。
        create-drop：自动建表，每次框架运行都会创建新的表，原来的表被删除，数据丢失（测试时使用）。
        validate：        不自动建表，每次框架运行都会检验数据库中表是否正确。
        update：         自动建表，如果表不存在就删除，如果存在就更新，数据不会丢失（推荐使用）。
        -->
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="com/yyyu/ssh/pojo/BaseDict.hbm.xml"></mapping>
		<mapping resource="com/yyyu/ssh/pojo/Customer.hbm.xml"></mapping>
		<mapping resource="com/yyyu/ssh/pojo/SysUser.hbm.xml"></mapping>

	</session-factory>
</hibernate-configuration>
